/* General */
body {
  padding-top: 70px;
}
input {
  background-color: transparent;
  border: 0px solid;
}
textarea:focus,
input:focus {
  outline: 0;
}
*:focus {
  outline: 0;
}
section.new_event {
  width: 100%;
  padding: 10px 5% 30px;
  margin: 0 auto;
}
/* Event */
ul.event {
  display: inline;
  position: relative;
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
}
ul.event li {
  position: relative;
  display: inline;
  padding: 2px 15px;
  font-weight: bold;
}
ul.event li.scene-num {
  font-size: 22px;
  line-height: 0px;
  font-weight: normal;
}
/* Location Select */
select.location {
  text-transform: capitalize;
}
/* Single Event */
.panel-title {
  line-height: 30px;
}
.panel-title small {
  float: right;
  font-size: 75%;
  color: #333;
  margin-top: 2px;
}
.panel-title small button {
  margin: -2px 0 0 5px;
}
#scene-contents.row {
  margin: 0px;
  padding-top: 20px;
}
#scene-data .btn-group {
  float: left;
  width: 100%;
}
#scene-data .btn-group button {
  width: 40%;
  clear: both;
}
/* BOOTSTRAP MODS */
/* Remove stupid blue borders in bootstrap!*/
/* This handles all inputs and selects */
textarea:focus,
select:focus,
button:focus,
.btn:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: none !important;
  box-shadow: none !important;
  outline: 0 none !important;
}
/* HTML5 Range Finder Styling w. form-control*/
.form-control.range {
  height: 4px;
  font-size: 0;
  line-height: 0;
  border-radius: 2px;
  background: #202020;
  padding: 0;
  margin: 10px 0;
}
.navbar-default {
  padding-right: 15px;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #0084ff;
}
header.single-event-head {
  position: fixed;
}
header.single-event-head h3 {
  margin: 0px;
}
header .duration-header {
  clear: both;
}
label {
  font-size: 12px;
}
.thumbnail {
  margin-bottom: 10px;
}
.panel-default {
  border-bottom: 1px solid #999;
}
.events-single aside {
  position: fixed;
  margin-top: 70px;
  overflow-y: scroll;
  height: 640px;
}
.events-single .scene-view {
  float: right;
}
.asset-single {
  border-bottom: 1px solid #ccc;
  padding: 20px 0;
  margin-bottom: 20px;
}
.asset-single:last-child {
  border-bottom: none;
}
li.list-group-item .btn-group-vertical .btn-xs {
  padding: 3px 7px;
}
.panel-default header.scene-detail-head {
  background-color: #fff;
}
.btn-xs {
  padding: 6px 15px;
}
.btn-default {
  border: 1px solid #999;
}
.btn-default:hover {
  background-color: #e7e7e7;
}
.add-btn {
  float: right;
  width: 156px;
  padding-top: 10px;
}
.add-btn .navbar-btn {
  float: left;
}
.add-btn p {
  float: left;
  margin: 15px 0 0 10px;
}
/* ADD SCENES buttons */
.btn-danger {
  border: 1px solid #0084ff;
  background-color: #fff;
  color: #0084ff;
}
.btn-danger:hover {
  border: 1px solid #0084ff;
  background-color: #bddfff;
  color: #0084ff;
}
/* SAVE buttons */
.btn-group .btn.green {
  border: 1px solid #04bd5f;
  background-color: #fff;
  color: #04bd5f;
}
.btn-group .btn:hover.green {
  border: 1px solid #04bd5f;
  background-color: #bcffdd;
}
/* DELETE buttons */
.btn-group .btn.red {
  border: 1px solid #ff4800;
  background-color: #fff;
  color: #ff4800;
}
.btn-group .btn:hover.red {
  border: 1px solid #ff4800;
  background-color: #ffcebd;
}
.asset-image button {
  border: 1px solid #ff4800;
  background-color: #fff;
  color: #ff4800;
}
.asset-image button:hover {
  border: 1px solid #ff4800;
  background-color: #ffcebd;
  color: #ff4800;
}
/* Scene Sub-nav */
.btn-link {
  color: #0084ff;
}
.btn-link:hover,
.btn-link:focus {
  color: #333;
  text-decoration: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  border: 1px solid #ccc;
}
.btn-default.disabled .caret,
.btn-default[disabled] .caret,
fieldset[disabled] .btn-default .caret,
.btn-default.disabled:hover .caret,
.btn-default[disabled]:hover .caret,
fieldset[disabled] .btn-default:hover .caret,
.btn-default.disabled:focus .caret,
.btn-default[disabled]:focus .caret,
fieldset[disabled] .btn-default:focus .caret,
.btn-default.disabled:active .caret,
.btn-default[disabled]:active .caret,
fieldset[disabled] .btn-default:active .caret,
.btn-default.disabled.active .caret,
.btn-default[disabled].active .caret,
fieldset[disabled] .btn-default.active .caret {
  color: #ccc;
}
/* Scene Details buttons */
.btn-group-vertical .btn-xs {
  padding: 6px 10px;
}
