body {
  padding-top: 70px;
}
input {
  background-color: transparent;
  border: 0px solid;
}
textarea:focus,
input:focus {
  outline: 0;
}
*:focus {
  outline: 0;
}
section.new_event {
  width: 100%;
  padding: 10px 5% 30px;
  margin: 0 auto;
}
/* Event */
ul.event {
  display: inline;
  position: relative;
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
}
ul.event li {
  position: relative;
  display: inline;
  padding: 2px 5px;
  font-weight: bold;
}
/* BOOTSTRAP MODS */
/* HTML5 Range Finder Styling w. form-control*/
.form-control.range {
  height: 4px;
  font-size: 0;
  line-height: 0;
  border-radius: 2px;
  background: #202020;
  padding: 0;
  margin: 10px 0;
}
