  </section>
  <!-- Modals -->
  <% /* Only Including the Modals we need for specific pages */ %>
  <% /* Event Index Page */ %>
  <% if(page_slug == 'events-index'){ %>
  	<% include ../includes/modals/new_scene %>	
  <% } %>
  <% /* Event Single Page */ %>
  <% if(page_slug == 'scenes-single' ){ %>
  	<% include ../includes/modals/new_clip %> 
  	<% include ../includes/modals/new_file %>
  <% }%>
  <% /* Any Assets Page */ %>
  <% if(page_slug.indexOf('files')>=0){ %>
	<% include ../includes/modals/new_file %>
  <%}%>

  <!-- Javscripts -->
  <script src='/js/vendor/jquery-2.0.3.min.js'></script>
  <script src='/js/vendor/bootstrap.min.js'></script>
  <script src='/js/vendor/bootstrap-select.min.js'></script>
  <script src='/js/vendor/underscore-1.6.0.min.js'></script>
  <!-- For Development only-->
  <script src='/js/vendor/holder.js'></script>
  <!-- TO BE MINIFIED -->
  <script src='/js/main.js'></script>
  <% /* Custom JS Loading */%>
  <% if(page_slug == 'events-index'){ %>
  	<script src='/js/eventController.js'></script>
  	<script>
  	
  	  	$(document).ready(function(){
  	  	<% if(scenes.length ==0){ %>
		  	$('#new_scene_modal').modal('show')
		<% }else{ %>
		  	var eventController = new EventController()
	  	<% } %>
	  	
	  	})
  	</script>
  	
  <% } %>
  <% if(page_slug == 'scenes-single' ){ %>
  	<script type="text/javascript" src='/js/pathfinding-browser.min.js'></script>
  	<script src='/js/map.js'></script>
  	<script src='/js/sceneController.js'></script>
  	<script>
  	$(document).ready(function(){
  		<% /*  */ %>
  		<% if(scene.clips.length == 0){ %>
	  	$('#new_clip_modal').modal('show');
	  	<% }else{ %>
	  	var sceneControl = new SceneController(<%-JSON.stringify(scene.clips)%>,<%- JSON.stringify(files)%>,function(){});
	  	<% } %>	  		

	  	
	 });
  	</script>
  <% }%>
  <% if(page_slug=='files-index'){ %>
  	<script src='/js/fileController.js'></script>
  	<script>
	  	$(document).ready(function(){
		  	var fileController = new FileController();
	  	})
  	</script>
  <% }%>
  <!-- EJS LOCALS DATA: FOR DEBUG 
  	<%- JSON.stringify(locals) %> 
  -->
  </body>
</html>