<!doctype html>
<html>
  <head>
    <link rel='stylesheet' href='/css/vendor/bootstrap.min.css' />
    <link rel='stylesheet' href='/css/vendor/bootstrap-select.min.css'/>

    <link rel="stylesheet/less" type="text/css" href="/stylesheets/style.less" />
    <link rel='stylesheet' href='/css/style.css'/>
  </head>
  <body lang="en">
    <section class="container">

    </section>
    <script src='/js/vendor/jquery-2.0.3.min.js'></script>
    <script>
      $(document).ready(function(){
        $.getJSON('/api',function(data){
          console.log(data)
          var playSales = '<p>Sales</p><a class="btn btn-default" href="'+data.sales.play_all+'">Play All</a>'
          var playAmbient = '<p>Ambient</p><a class="btn btn-default" href="'+data.ambient.play_all+'">Play All</a>'

          var salesSingles = '<p>Single Sales</p>';
          for(var i = 0; i< data.sales.play_single.length; i++){

            for(var key in data.sales.play_single[i]){
              salesSingles+= '<a class="btn btn-default" href="'+data.sales.play_single[i][key]+'">Play '+key+'</a>'
            }

          }
          var ambientSingles = "<p>Single Ambient</p>";
          for(var i = 0; i< data.ambient.play_single.length; i++){

            for(var key in data.ambient.play_single[i]){
              ambientSingles+= '<a class="btn btn-default" href="'+data.ambient.play_single[i][key]+'">Play '+key+'</a>'
            }

          }

          var controlsButtons = '<p>Commands</p>'

          for(var key in data.commands){
            controlsButtons+= '<a class="btn btn-default" href="'+data.commands[key]+'">'+key+'</a>'
          }
          var html = '<article>'
          html+= '<section>'+playSales+'</section>'
          html+= '<section>'+salesSingles+'</section>'
          html+= '<section>'+playAmbient+'</section>'
          html+= '<section>'+ambientSingles+'</section>'
          html+= '<section>'+controlsButtons+'</section>'
          html+= '</article>'

          $('.container').append(html)

        })
      })

    </script>
  </body>
</html>
