<section class='new_scene modal fade' id="new_scene_modal" tabindex="-1" role="dialog" aria-labelledby="new_event_modal" aria-hidden="true" >
	<section class="modal-dialog">
		<section class="modal-content">
			<div class="modal-header">
				<h3>Add New Scene</h3>
			</div><!-- .modal-header -->
			<form class="modal-body" role="form" action="/scenes" method="post">
					<input type="hidden" name="event_id" value="<%=event._id %>"/>
					<section class="form-group">
					    <label for="title">Scene Title</label>
					    <input type="text" class="form-control" id="title" name="title" placeholder="Enter title">
				    </section>
				    <section class="form-group">
					    <label for="zone_type">Zone Type</label>
							<select class="form-control" name="zone_type">
							<% for(var i =0; i<4;i++){ %>
								<option value="zone_<%= i %>">Zone <%= i %></option>
							<% }%>
						</select>
						<p class="help-block">Select a zone type.</p>
				    </section>
				    <section class="form-group">
					    <label for="text">On-Screen Text</label>
					    <textarea class="form-control" name="text"></textarea>
					    <p class="help-block">Add text to display during scene (optional)</p>
				    </section>
			</form><!-- .modal-body -->
			<div class="modal-footer">
				<button class="btn btn-default" type="button" data-dismiss="modal">Close</button>
				<button class="btn btn-primary modal-submit" type="button">Submit</button>
			</div><!-- .modal-footer-->
		</section><!-- .modal-content -->
	</section><!-- .modal-dialog -->
</section><!-- #new_scene_modal .new_scene .modal .fade -->