<section class='new_event modal fade' id="new_event_modal" tabindex="-1" role="dialog" aria-labelledby="new_event_modal" aria-hidden="true" >
	<section class="modal-dialog">
    	<section class="modal-content">
	    	<div class="modal-header">	
		    	<h3>Add New Event</h3>
		    	</div>
		    	
			    <form class="modal-body" role="form" action="/events" method="post" oninput="duration_view.value=duration.value+' seconds'">
				    <section class="form-group">
					    <label for="title">Event Title</label>
					    <input type="text" class="form-control" id="title" name="title" placeholder="Enter title">
				    </section>
				    <section class="form-group">
					    <label for="title">Animation Type</label>
						<select class="form-control" name="anim_type">
							<% for(var i =0; i<4;i++){ %>
								<option value="anim_<%= i %>">Animation <%= i %></option>
							<% }%>
						</select>
						<p class="help-block">Select the animation type.</p>
				    </section>
				    <section class="form-group">
					    <label for="title">Select Assets</label>
						<select multiple class="form-control" name="assets">
							<% // add dynamic loading of assets %>
							<% for(var i =0; i<10;i++){ %>
								<option value="<%= i %>">Asset <%= i %></option>
							<% }%>
						</select>
						<p class="help-block">Select assets for this event.</p>
						<button type="button" class="btn btn-default btn-info btn-xs">Add New Asset</button>
				    </section>
				    <section class="form-group">
					    <label for="title">Event Duration</label>
					    <input type="range" value="35" class="form-control range" step="1" min="3" max="300"  id="duration" name="duration" >
					    <input type="text" value="35 seconds" class="form-control input-sm" name="duration_view" id="duration_view">
				    </section>
				</form>
				<div class="modal-footer">
			    	<button class="btn btn-default" type="button" data-dismiss="modal">Close</button>
					<button class="btn btn-primary modal-submit" type="button">Submit</button>
				</div>
	    	</section>
    	</section>
</section>
