<section class='new_event modal fade' id="new_event_modal" tabindex="-1" role="dialog" aria-labelledby="new_event_modal" aria-hidden="true" >
	<section class="modal-dialog">
    	<section class="modal-content">
	    	<div class="modal-header">	
		    	<h3>Add New Event</h3>
		    	</div>
		    	
			    <form class="modal-body" role="form" action="/events" method="post">
				    <section class="form-group">
					    <label for="title">Event Title</label>
					    <input type="text" class="form-control" id="title" name="title" placeholder="Enter title">
				    </section>
				    <section class="form-group">
					    <label for="title">Animation Type</label>
							<select class="form-control" name="anim_type">
									<option value="sales">Sales</option>
									<option value="ambient">Ambient</option>
							</select>
						<p class="help-block">Select the animation type.</p>
				    </section>
				</form>
				<div class="modal-footer">
			    	<button class="btn btn-default" type="button" data-dismiss="modal">Close</button>
					<button class="btn btn-primary modal-submit" type="button">Submit</button>
				</div>
	    	</section>
    	</section>
</section><!-- #new_event_modal .new_event .modal .fade-->
