<section class="new_asset modal fade" id="new_asset_modal" tabindex="-1" role="dialog" aria-labelledby="new_asset_modal" aria-hidden="true" >
	<section class="modal-dialog">
    	<section class="modal-content">
	    	<div class="modal-header">
	    		<h3>Add New File</h3>
	    	</div> <!--modal-header -->
		    <form class="modal-body" role="form" action="/files" method="post" enctype="multipart/form-data">
		    		<section class="form-group col-md-8">
					    <label for="title">Asset Title</label>
					    <input type="text" class="form-control" name="title" placeholder="Give your asset a title">
				    </section>
			  		<section class="form-group content-upload col-md-12">
					    <label for="content">Select a file to upload</label>
					    <input type="file" class="form-control browse" name="content"/>
				    	<!--<p class="help-block">Select the {file} to upload</p>-->
				    </section>
					<section class="form-group col-md-8">
						<label for="Location">Location <small>(if applicable)</small></label>
						<% var loc = true; if(locations.length==0){loc=false} %>
						<select name="location" class="form-control location" <% if(!loc){ %>disabled<%}%>>
							<% if(loc==true){ %>
								<option>choose a location</option>
								<% for(var i =0; i<locations.length;i++){%>
									<option value="<%= locations[i]._id %>"><%= locations[i].address %></option>
								<% } %>
							<% }else{ %>
								<option>no locations entered yet</option>
							<% } %>
						</select>
						<p class="help-block"><small>...or enter a new location</small></p>
						<input type="input" name="new_location" class="form-control" placeholder="Street address, city, state, zip"/>
					</section>
		    </form>
			<div class="modal-footer">
				<button class="btn btn-primary modal-submit green" type="button">Submit</button>
			    	<button class="btn btn-default" type="button" data-dismiss="modal">Close</button>
			</div>
    	</section> <!--modal-content -->
	</section> <!--modal-dialog -->
</section>
