<section class='new_scene modal fade' id="new_scene_modal" tabindex="-1" role="dialog" aria-labelledby="new_scene_modal" aria-hidden="true" >
	<section class="modal-dialog">
    	<section class="modal-content">
	    	<div class="modal-header">	
		    	<h3>Add New Scene</h3>
		    	</div>
		 
			    <form class="modal-body" role="form" action="/scenes" method="post">
				    <section class="form-group col-md-8">
					    <label for="title">Scene Title</label>
					    <input type="text" class="form-control" id="title" name="title" placeholder="Give your scene a title">
				    </section>
				    <section class="form-group col-md-8">
					    <label for="title">Event Type</label>
							<select class="form-control new-event-type" name="type">
									<% EVENT_TYPES.forEach(function(type){ %> 
									<option value="<%= utils.makeSlug(type) %>"><%= type %></option>
									<% }) %>
							</select>
						<p class="help-block">Select the event type.</p>
				    </section>
				</form>
				<div class="modal-footer">
					<button class="btn btn-primary modal-submit green" type="button">Submit</button>
			    		<button class="btn btn-default" type="button" data-dismiss="modal">Cancel</button>
					
				</div>
	    	</section>
    	</section>
</section><!-- #new_event_modal .new_event .modal .fade-->
